<!doctype html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Adam | Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico in the root directory -->
        <link rel="icon" href="img/icons/favicon.png">

        <!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,100,300,700,900' rel='stylesheet' type='text/css'>
        <!-- REVOLUTION STYLE SHEETS -->
        <link rel="stylesheet" type="text/css" href="revolution-slider/revolution/css/settings.css">
        <link rel="stylesheet" type="text/css" href="revolution-slider/revolution/css/navigation.css">
		<!-- All CSS FILES -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">    
        <link rel="stylesheet" href="css/et-line-iocn.css">    
        <link rel="stylesheet" href="css/elements.css">    
		<link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">
		<!-- MODERNIZE JS -->
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>

    </head>
    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!--  THEME PRELOADER AREA -->
        <div id="preloader-wrapper">
            <div class="preloader-wave-effect"></div>
        </div>
        <!-- THEME PRELOADER AREA END -->       
        <!-- Main wrapper start -->
        <div class="wrapper">
            <!-- HEADER AREA -->
            <header class="header-area header-style-one intelligent-header">
                <div class="header-middle-area">
                    <div class="container">
                        <div class="row">
							<div class="col-md-4  col-sm-2 col-xs-6">
								<div class="logo">
									<h3><a href="index.html">ADAM</a></h3>
								</div>
							</div>
							<div class="col-md-8 col-sm-10 hidden-xs hidden-sm">
                                <div class="menu-area">
    								<nav>
    									<ul class="main-menu hover-style-one clearfix">
    										<li><a href="#">Home <span><i class="fa fa-angle-down"></i></span></a>
                                                <ul>
                                                    <li><a href="index.html">Adam - Home 1 </a></li>
                                                    <li><a href="index-2.html">Adam - Home 2</a></li>
                                                    <li><a href="index-3.html">Adam - Home 3</a></li>
                                                    <li><a href="index-4.html">Adam - Home 4</a></li>
                                                    <li><a href="index-5.html">Adam - Home 5</a></li>
                                                    <li><a href="index-6.html">Adam - Home 6</a></li>
                                                    <li><a href="index-7.html">Adam - Home 7</a></li>
                                                    <li><a href="index-8.html">Adam - Home 8</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Portfolio<span><i class="fa fa-angle-down"></i></span></a>
                                                <ul>
                                                    <li><a href="#">Masonry<span><i class="fa fa-angle-down"></i></span></a>
                                                        <ul>
                                                            <li><a href="portfolio-2-column-masonry-gutter.html">2 Grid Gutter</a></li>
                                                            <li><a href="portfolio-2-column-masonry-gutter-full.html">2 Grid Gutter Full</a></li>
                                                            <li><a href="portfolio-2-column-masonry-no-gutter.html">2 Grid Gutter less</a></li>
                                                            <li><a href="portfolio-2-column-masonry-no-gutter-full.html">2 Grid Gutter Less Full </a></li>

                                                            <li><a href="portfolio-3-column-masonry-gutter.html">3 Grid Gutter</a></li>
                                                            <li><a href="portfolio-3-column-masonry-gutter-full.html">3 Grid Gutter Full</a></li>
                                                            <li><a href="portfolio-3-column-masonry-no-gutter.html">3 Grid Gutter less</a></li>
                                                            <li><a href="portfolio-3-column-masonry-no-gutter-full.html">3 Grid Gutter Less Full </a></li>

                                                            <li><a href="portfolio-4-column-masonry-gutter.html">4 Grid Gutter</a></li>
                                                            <li><a href="portfolio-4-column-masonry-gutter-full.html">4 Grid Gutter Full</a></li>
                                                            <li><a href="portfolio-4-column-masonry-no-gutter.html">4 Grid Gutter less</a></li>
                                                            <li><a href="portfolio-4-column-masonry-no-gutter-full.html">4 Grid Gutter Less Full </a></li>
                                                        </ul>                                                    
                                                    </li>
                                                    <li><a href="#">Boxed<span><i class="fa fa-angle-down"></i></span></a>
                                                        <ul>
                                                            <li><a href="portfolio-2-column-boxed-gutter.html">2 Grid Gutter</a></li>
                                                            <li><a href="portfolio-2-column-boxed-gutter-full.html">2 Grid Gutter Full</a></li>
                                                            <li><a href="portfolio-2-column-boxed-no-gutter.html">2 Grid Gutter less</a></li>
                                                            <li><a href="portfolio-2-column-boxed-no-gutter-full.html">2 Grid Gutter Less Full </a></li>

                                                            <li><a href="portfolio-3-column-boxed-gutter.html">3 Grid Gutter</a></li>
                                                            <li><a href="portfolio-3-column-boxed-gutter-full.html">3 Grid Gutter Full</a></li>
                                                            <li><a href="portfolio-3-column-boxed-no-gutter.html">3 Grid Gutter less</a></li>
                                                            <li><a href="portfolio-3-column-boxed-no-gutter-full.html">3 Grid Gutter Less Full </a></li>

                                                            <li><a href="portfolio-4-column-boxed-gutter.html">4 Grid Gutter</a></li>
                                                            <li><a href="portfolio-4-column-boxed-gutter-full.html">4 Grid Gutter Full</a></li>
                                                            <li><a href="portfolio-4-column-boxed-no-gutter.html">4 Grid Gutter less</a></li>
                                                            <li><a href="portfolio-4-column-boxed-no-gutter-full.html">4 Grid Gutter Less Full </a></li>
                                                        </ul>                                                    
                                                    </li>
                                                    <li><a href="single-project-one.html">project single 1</a></li>
                                                    <li><a href="single-project-two.html">project single 2</a></li>
                                                    <li><a href="single-project-three.html">project single 3</a></li>
                                                    <li><a href="single-project-four.html">project single 4</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="about-me.html">Pages<span><i class="fa fa-angle-down"></i></span></a>
                                                <ul>
                                                    <li><a href="about-us.html">About Us</a></li>
                                                    <li><a href="about-me.html">About Me</a></li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                    <li><a href="contact-2.html">Contact 2</a></li>
                                                    <li><a href="404.html">404 Not Found</a></li>
                                                </ul>
                                            </li>                                            
                                            <li><a href="#">Shortcodes <span><i class="fa fa-angle-down"></i></span></a>
                                                <ul>
                                                    <li><a href="shortcode-accordion.html">accordion</a></li>
                                                    <li><a href="shortcode-button.html">buttons</a></li>
                                                    <li><a href="shortcode-breadcrumb.html">breadcrumb</a></li>
                                                    <li><a href="shortcode-service-box.html">service box</a></li>
                                                    <li><a href="shortcode-progressbar.html">progressbar</a></li>
                                                    <li><a href="shortcode-tab.html">Tabs</a></li>
                                                    <li><a href="shortcode-header-one.html">header 1</a></li>
                                                    <li><a href="shortcode-header-two.html">header 2</a></li>
                                                    <li><a href="index-2.html">header 3</a></li>
                                                    <li><a href="index-4.html">header 4</a></li>
                                                    <li><a href="index-5.html">header 5</a></li>
                                                    <li><a href="index-7.html">header 6</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Blog <span><i class="fa fa-angle-down"></i></span></a>
                                                <ul class="dropdown-show-right">
                                                    <li><a href="blog.html">Blog Default</a></li>
                                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                                    <li><a href="single-post-full-width.html">Post Full width</a></li>
                                                    <li><a href="single-post-left-sidebar.html">Post Sidebar Left</a></li>
                                                    <li><a href="single-post-right-sidebar.html">Post Sidebar Right</a></li>
                                                </ul>                                            
                                            </li>
                                            <li><a href="contact.html">Contact</a></li>
    									</ul>
                                    </nav>
								</div>
							</div>
                            <div class="clearfix"></div>
                            <!-- START OF MOBILE MENU AREA -->
                            <div class="mobile-menu-area clearfix hidden-md hidden-lg">
                                <nav class="mobile-menu">
                                    <ul>
                                        <li><a href="#">Home</a>
                                            <ul>
                                                <li><a href="index.html">Home 1</a></li>
                                                <li><a href="index-2.html">Home 2</a></li>
                                                <li><a href="index-3.html">Home 3</a></li>
                                                <li><a href="index-4.html">Home 4</a></li>
                                                <li><a href="index-5.html">Home 5</a></li>
                                                <li><a href="index-6.html">Home 6</a></li>
                                                <li><a href="index-7.html">Home 7</a></li>
                                                <li><a href="index-8.html">Home 8</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">portfolio</a>
                                            <ul>
                                                <li><a href="#">Masonry</a>
                                                    <ul>
                                                        <li><a href="portfolio-2-column-masonry-gutter.html">2 Grid Gutter</a></li>
                                                        <li><a href="portfolio-2-column-masonry-gutter-full.html">2 Grid Gutter Full</a></li>
                                                        <li><a href="portfolio-2-column-masonry-no-gutter.html">2 Grid Gutter less</a></li>
                                                        <li><a href="portfolio-2-column-masonry-no-gutter-full.html">2 Grid Gutter Less Full </a></li>

                                                        <li><a href="portfolio-3-column-masonry-gutter.html">3 Grid Gutter</a></li>
                                                        <li><a href="portfolio-3-column-masonry-gutter-full.html">3 Grid Gutter Full</a></li>
                                                        <li><a href="portfolio-3-column-masonry-no-gutter.html">3 Grid Gutter less</a></li>
                                                        <li><a href="portfolio-3-column-masonry-no-gutter-full.html">3 Grid Gutter Less Full </a></li>

                                                        <li><a href="portfolio-4-column-masonry-gutter.html">4 Grid Gutter</a></li>
                                                        <li><a href="portfolio-4-column-masonry-gutter-full.html">4 Grid Gutter Full</a></li>
                                                        <li><a href="portfolio-4-column-masonry-no-gutter.html">4 Grid Gutter less</a></li>
                                                        <li><a href="portfolio-4-column-masonry-no-gutter-full.html">4 Grid Gutter Less Full </a></li>
                                                    </ul>                                                    
                                                </li>
                                                <li><a href="#">Boxed</a>
                                                    <ul>
                                                        <li><a href="portfolio-2-column-boxed-gutter.html">2 Grid Gutter</a></li>
                                                        <li><a href="portfolio-2-column-boxed-gutter-full.html">2 Grid Gutter Full</a></li>
                                                        <li><a href="portfolio-2-column-boxed-no-gutter.html">2 Grid Gutter less</a></li>
                                                        <li><a href="portfolio-2-column-boxed-no-gutter-full.html">2 Grid Gutter Less Full </a></li>

                                                        <li><a href="portfolio-3-column-boxed-gutter.html">3 Grid Gutter</a></li>
                                                        <li><a href="portfolio-3-column-boxed-gutter-full.html">3 Grid Gutter Full</a></li>
                                                        <li><a href="portfolio-3-column-boxed-no-gutter.html">3 Grid Gutter less</a></li>
                                                        <li><a href="portfolio-3-column-boxed-no-gutter-full.html">3 Grid Gutter Less Full </a></li>

                                                        <li><a href="portfolio-4-column-boxed-gutter.html">4 Grid Gutter</a></li>
                                                        <li><a href="portfolio-4-column-boxed-gutter-full.html">4 Grid Gutter Full</a></li>
                                                        <li><a href="portfolio-4-column-boxed-no-gutter.html">4 Grid Gutter less</a></li>
                                                        <li><a href="portfolio-4-column-boxed-no-gutter-full.html">4 Grid Gutter Less Full </a></li>
                                                    </ul>                                                    
                                                </li>
                                                <li><a href="single-project-one.html">project single 1</a></li>
                                                <li><a href="single-project-two.html">project single 2</a></li>
                                                <li><a href="single-project-three.html">project single 3</a></li>
                                                <li><a href="single-project-four.html">project single 4</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Shortcodes</a>
                                            <ul>
                                                <li><a href="shortcode-accordion.html">accordion</a></li>
                                                <li><a href="shortcode-button.html">buttons</a></li>
                                                <li><a href="shortcode-breadcrumb.html">breadcrumb</a></li>
                                                <li><a href="shortcode-service-box.html">service box</a></li>
                                                <li><a href="shortcode-progressbar.html">progressbar</a></li>
                                                <li><a href="shortcode-tab.html">Tabs</a></li>
                                            </ul>
                                        </li>                                        
                                        <li><a href="#">Blog</a>
                                            <ul class="dropdown-show-right">
                                                <li><a href="blog.html">Blog Default</a></li>
                                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                                <li><a href="single-post-full-width.html">Post Full width</a></li>
                                                <li><a href="single-post-left-sidebar.html">Post Sidebar Left</a></li>
                                                <li><a href="single-post-right-sidebar.html">Post Sidebar Right</a></li>
                                            </ul>                                            
                                        </li>
                                        <li><a href="about-us.html">About</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- END OF MOBILE MENU AREA -->
                        </div>
                    </div>
                </div>                
            </header>
            <!-- END HEADER AREA -->
            <div class="intelligent-header-space"></div>
            <div class="content">
                <!-- Breadcrumb area start -->
                <div class="breadcrumb-area gray-bg text-center ptb-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="breadcrumb-content">
                                    <h2 class="page-cat">Blog Page</h2>
                                    <ul class="breadcrumb-list">
                                        <li><a href="index.html">Home</a></li>
                                        <li>Blog</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Breadcrumb area end -->            
                <!-- Theme standard row Start for Blog -->
                <div class="adam-standard-row white-bg ptb-80">
                    <div class="container">
                        <div class="row">
                            <div class="blog-masonry">
                                <div class="col-md-4 col-sm-6 post-grid-item">
                                    <article class="blog-post">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/151306147&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                                        </div>
                                        <div class="post-content">
                                            <div class="post-content-inner">
                                                <h3><a href="#">Audio Post</a></h3>
                                                <ul class="meta-info">
                                                    <li><a href="#">Jul 24, 2016</a></li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae maiores, quidem cumque!</p>
                                            </div>
                                            <div class="post-footer-meta clearfix">
                                                <ul class="post-action-btn">
                                                    <li><a href="#"><i class="icon-refresh"></i></a></li>
                                                    <li><a href="#"><i class="icon-chat"></i></a></li>
                                                    <li><a href="#"><i class="icon-heart"></i></a></li>
                                                </ul>
                                                <div class="read-more-wrapper">
                                                    <a href="#" class="read-more">Read More</a>
                                                </div>
                                            </div>                                        
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 col-sm-6 post-grid-item">
                                    <article class="blog-post">
                                        <div class="post-thumbnail">
                                            <a href="#"><img src="img/blog/4.jpg" alt=""></a>
                                        </div>
                                        <div class="post-content">
                                            <div class="post-content-inner">
                                                <h3><a href="#">Full Width Blog Post</a></h3>
                                                <ul class="meta-info">
                                                    <li><a href="#">Jul 24, 2016</a></li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae maiores, quidem cumque!</p>
                                            </div>
                                            <div class="post-footer-meta clearfix">
                                                <ul class="post-action-btn">
                                                    <li><a href="#"><i class="icon-refresh"></i></a></li>
                                                    <li><a href="#"><i class="icon-chat"></i></a></li>
                                                    <li><a href="#"><i class="icon-heart"></i></a></li>
                                                </ul>
                                                <div class="read-more-wrapper">
                                                    <a href="#" class="read-more">Read More</a>
                                                </div>
                                            </div>                                        
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 col-sm-6 post-grid-item">
                                    <article class="blog-post">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe src="https://player.vimeo.com/video/177464330?color=ffffff&title=0&byline=0&portrait=0"></iframe>
                                        </div>
                                        <div class="post-content">
                                            <div class="post-content-inner">
                                                <h3><a href="#">Post with youtube video</a></h3>
                                                <ul class="meta-info">
                                                    <li><a href="#">Jul 24, 2016</a></li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae maiores, quidem cumque!</p>
                                            </div>
                                            <div class="post-footer-meta clearfix">
                                                <ul class="post-action-btn">
                                                    <li><a href="#"><i class="icon-refresh"></i></a></li>
                                                    <li><a href="#"><i class="icon-chat"></i></a></li>
                                                    <li><a href="#"><i class="icon-heart"></i></a></li>
                                                </ul>
                                                <div class="read-more-wrapper">
                                                    <a href="#" class="read-more">Read More</a>
                                                </div>
                                            </div>                                        
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 col-sm-6 post-grid-item">
                                    <article class="blog-post">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe src="https://www.youtube.com/embed/N6ezjg6-0hU?rel=0&amp;controls=0&amp;showinfo=0"></iframe>
                                        </div>
                                        <div class="post-content">
                                            <div class="post-content-inner">
                                                <h3><a href="#">Post with youtube video</a></h3>
                                                <ul class="meta-info">
                                                    <li><a href="#">Jul 24, 2016</a></li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae maiores, quidem cumque!</p>
                                            </div>
                                            <div class="post-footer-meta clearfix">
                                                <ul class="post-action-btn">
                                                    <li><a href="#"><i class="icon-refresh"></i></a></li>
                                                    <li><a href="#"><i class="icon-chat"></i></a></li>
                                                    <li><a href="#"><i class="icon-heart"></i></a></li>
                                                </ul>
                                                <div class="read-more-wrapper">
                                                    <a href="#" class="read-more">Read More</a>
                                                </div>
                                            </div>                                        
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 col-sm-6 post-grid-item">
                                    <article class="blog-post">
                                        <div class="post-content">
                                            <div class="post-content-inner">
                                                <h3><a href="#">Post no media</a></h3>
                                                <ul class="meta-info">
                                                    <li><a href="#">Jul 24, 2016</a></li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae maiores, quidem cumque!</p>
                                            </div>
                                            <div class="post-footer-meta clearfix">
                                                <ul class="post-action-btn">
                                                    <li><a href="#"><i class="icon-refresh"></i></a></li>
                                                    <li><a href="#"><i class="icon-chat"></i></a></li>
                                                    <li><a href="#"><i class="icon-heart"></i></a></li>
                                                </ul>
                                                <div class="read-more-wrapper">
                                                    <a href="#" class="read-more">Read More</a>
                                                </div>
                                            </div>                                        
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 col-sm-6 post-grid-item">
                                    <article class="blog-post">
                                        <div class="post-thumbnail">
                                            <a href="#"><img src="img/blog/3.jpg" alt=""></a>
                                        </div>
                                        <div class="post-content">
                                            <div class="post-content-inner">
                                                <h3><a href="#">Full Width Blog Post</a></h3>
                                                <ul class="meta-info">
                                                    <li><a href="#">Jul 24, 2016</a></li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae maiores, quidem cumque!</p>
                                            </div>
                                            <div class="post-footer-meta clearfix">
                                                <ul class="post-action-btn">
                                                    <li><a href="#"><i class="icon-refresh"></i></a></li>
                                                    <li><a href="#"><i class="icon-chat"></i></a></li>
                                                    <li><a href="#"><i class="icon-heart"></i></a></li>
                                                </ul>
                                                <div class="read-more-wrapper">
                                                    <a href="#" class="read-more">Read More</a>
                                                </div>
                                            </div>                                        
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 col-sm-6 post-grid-item">
                                    <article class="blog-post">
                                        <div class="post-thumbnail">
                                            <a href="#"><img src="img/blog/3.jpg" alt=""></a>
                                        </div>
                                        <div class="post-content">
                                            <div class="post-content-inner">
                                                <h3><a href="#">Full Width Blog Post</a></h3>
                                                <ul class="meta-info">
                                                    <li><a href="#">Jul 24, 2016</a></li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae maiores, quidem cumque!</p>
                                            </div>
                                            <div class="post-footer-meta clearfix">
                                                <ul class="post-action-btn">
                                                    <li><a href="#"><i class="icon-refresh"></i></a></li>
                                                    <li><a href="#"><i class="icon-chat"></i></a></li>
                                                    <li><a href="#"><i class="icon-heart"></i></a></li>
                                                </ul>
                                                <div class="read-more-wrapper">
                                                    <a href="#" class="read-more">Read More</a>
                                                </div>
                                            </div>                                        
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>               
                <!-- Theme standard row End for Blog -->               
            </div>
            <!-- Footer area start -->
            <footer class="footer-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="copy-right">
                                <p>All &copy; reserved <a href="https://themeforest.net/user/wpdna" target="_blank" class="wpdna-brand">wpdna</a></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="social-bookmark-wrapper">
                                <ul class="social-bookmark-wrapper">
                                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                    <li><a href="#"><i class="icon-googleplus"></i></a></li>
                                    <li><a href="#"><i class="icon-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer area end -->
        </div>
        <!-- Main wrapper end -->
		<!-- ALL JS HERE -->
        <script src="js/vendor/jquery-1.12.0.min.js"></script>

        <!-- REVOLUTION JS FILES -->
        <script type="text/javascript" src="revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
        (Load Extensions only on Local File Systems !  
        The following part can be removed on Server for On Demand Loading) -->  
        <script type="text/javascript" src="revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script src="revolution-slider/slider-active.js"></script>

        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.isotope.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
