<!doctype html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Adam | Home 5</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="icon" href="img/icons/favicon.png">

        <!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,100,300,700,900' rel='stylesheet' type='text/css'>


        <!-- REVOLUTION STYLE SHEETS -->
        <link rel="stylesheet" type="text/css" href="revolution-slider/revolution/css/settings.css">
        <link rel="stylesheet" type="text/css" href="revolution-slider/revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="revolution-slider/revolution/css/navigation.css">


		<!-- All CSS FILES -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">    
        <link rel="stylesheet" href="css/et-line-iocn.css">    
        <link rel="stylesheet" href="css/elements.css"> 
		<link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">

		<!-- MODERNIZE JS -->
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>

    </head>
    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!--  THEME PRELOADER AREA -->
        <div id="preloader-wrapper">
            <div class="preloader-wave-effect"></div>
        </div>
        <!-- THEME PRELOADER AREA END -->

        <div class="wrapper">

            <!-- Header area -->
            <header id="sticky-header" class="header-area header-style-five">
                <div class="header-middle-area">
                    <div class="container-fluid">
                        <div class="col-md-4  col-sm-2 col-xs-10">
                            <div class="logo">
                                <h3><a href="index.html">ADAM</a></h3>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-10 col-xs-2">
                            <div class="menu-area clearfix">
                                <div class="menu-button">
                                    <a class="btn-open" href="javascript:void(0)"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="overlay">
                        <div class="wrap">
                            <div class="overlay-menu">
                                <nav>
                                    <ul class="main-menu hover-style-one clearfix">
                                        <li><a href="#">Home <span><i class="fa fa-angle-down"></i></span></a>
                                            <ul>
                                                <li><a href="index.html">Adam - Home 1 </a></li>
                                                <li><a href="index-2.html">Adam - Home 2</a></li>
                                                <li><a href="index-3.html">Adam - Home 3</a></li>
                                                <li><a href="index-4.html">Adam - Home 4</a></li>
                                                <li><a href="index-5.html">Adam - Home 5</a></li>
                                                <li><a href="index-6.html">Adam - Home 6</a></li>
                                                <li><a href="index-7.html">Adam - Home 7</a></li>
                                                <li><a href="index-8.html">Adam - Home 8</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Portfolio<span><i class="fa fa-angle-down"></i></span></a>
                                            <ul>
                                                <li><a href="#">Masonry<span><i class="fa fa-angle-down"></i></span></a>
                                                    <ul>
                                                        <li><a href="portfolio-3-column-masonry-gutter.html">3 Grid Gutter</a></li>
                                                        <li><a href="portfolio-3-column-masonry-gutter-full.html">3 Grid Gutter Full</a></li>
                                                        <li><a href="portfolio-3-column-masonry-no-gutter.html">3 Grid Gutter less</a></li>
                                                        <li><a href="portfolio-3-column-masonry-no-gutter-full.html">3 Grid Gutter Less Full </a></li>

                                                        <li><a href="portfolio-4-column-masonry-gutter.html">4 Grid Gutter</a></li>
                                                        <li><a href="portfolio-4-column-masonry-gutter-full.html">4 Grid Gutter Full</a></li>
                                                        <li><a href="portfolio-4-column-masonry-no-gutter.html">4 Grid Gutter less</a></li>
                                                        <li><a href="portfolio-4-column-masonry-no-gutter-full.html">4 Grid Gutter Less Full </a></li>
                                                    </ul>                                                    
                                                </li>
                                                <li><a href="#">Boxed<span><i class="fa fa-angle-down"></i></span></a>
                                                    <ul>
                                                        <li><a href="portfolio-3-column-boxed-gutter.html">3 Grid Gutter</a></li>
                                                        <li><a href="portfolio-3-column-boxed-gutter-full.html">3 Grid Gutter Full</a></li>
                                                        <li><a href="portfolio-3-column-boxed-no-gutter.html">3 Grid Gutter less</a></li>
                                                        <li><a href="portfolio-3-column-boxed-no-gutter-full.html">3 Grid Gutter Less Full </a></li>

                                                        <li><a href="portfolio-4-column-boxed-gutter.html">4 Grid Gutter</a></li>
                                                        <li><a href="portfolio-4-column-boxed-gutter-full.html">4 Grid Gutter Full</a></li>
                                                        <li><a href="portfolio-4-column-boxed-no-gutter.html">4 Grid Gutter less</a></li>
                                                        <li><a href="portfolio-4-column-boxed-no-gutter-full.html">4 Grid Gutter Less Full </a></li>
                                                    </ul>                                                    
                                                </li>
                                                <li><a href="single-project-one.html">project single 1</a></li>
                                                <li><a href="single-project-two.html">project single 2</a></li>
                                                <li><a href="single-project-three.html">project single 3</a></li>
                                                <li><a href="single-project-four.html">project single 4</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about-me.html">Pages<span><i class="fa fa-angle-down"></i></span></a>
                                            <ul>
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="about-me.html">About Me</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="contact-2.html">Contact 2</a></li>
                                            </ul>
                                        </li>                                            
                                        <li><a href="#">Shortcodes <span><i class="fa fa-angle-down"></i></span></a>
                                            <ul>
                                                <li><a href="shortcode-accordion.html">accordion</a></li>
                                                <li><a href="shortcode-button.html">buttons</a></li>
                                                <li><a href="shortcode-breadcrumb.html">breadcrumb</a></li>
                                                <li><a href="shortcode-service-box.html">service box</a></li>
                                                <li><a href="shortcode-progressbar.html">progressbar</a></li>
                                                <li><a href="shortcode-tab.html">Tabs</a></li>
                                                <li><a href="shortcode-header-one.html">header 1</a></li>
                                                <li><a href="shortcode-header-two.html">header 2</a></li>
                                                <li><a href="index-2.html">header 3</a></li>
                                                <li><a href="index-4.html">header 4</a></li>
                                                <li><a href="index-5.html">header 5</a></li>
                                                <li><a href="index-7.html">header 6</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Blog <span><i class="fa fa-angle-down"></i></span></a>
                                            <ul class="dropdown-show-right">
                                                <li><a href="blog.html">Blog Default</a></li>
                                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                                <li><a href="single-post-full-width.html">Post Full width</a></li>
                                                <li><a href="single-post-left-sidebar.html">Post Sidebar Left</a></li>
                                                <li><a href="single-post-right-sidebar.html">Post Sidebar Right</a></li>
                                            </ul>                                            
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="social-bookmark-area">
                                <ul class="overlay-bookmark">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-codepen"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End header area -->
            <!-- Slider area -->
            <div class="slider-style-5">
                <div id="adam_main_slider_wrapper" class="slider rev_slider_wrapper fullwidthbanner-container">
                <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
                    <div id="adam_home_5_slider" class="rev_slider fullwidthabanner" style="" data-version="5.0.7">
                        <ul>    <!-- SLIDE  -->
                            <li data-index="rs-148" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="revolution-slider/assets/images/notgeneric_bg1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
                                     id="slide-148-layer-1" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                                data-fontsize="['70','70','70','45']"
                                    data-lineheight="['70','70','70','50']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                    data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1000" 
                                    data-splitin="chars" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
                                    data-elementdelay="0.05" 
                                    style="z-index: 5; white-space: nowrap; color: #fff;">Darien National Park                                      
                                </div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption Newspaper-Button rev-btn  rs-parallaxlevel-0" 
                                     id="slide-129-layer-5" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['100','100','100','101']" 
                                                data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                        data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                        data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
                                     data-mask_in="x:0px;y:0px;" 
                                     data-mask_out="x:0;y:0;" 
                                    data-start="1500" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
                                    data-responsive="off"
                                    
                                    style="z-index: 8;font-family: lato; font-size: 12px; letter-spacing: 1px; font-weight: 300; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">READ MORE 
                                </div>                                
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption rev-scroll-btn  rs-parallaxlevel-0" 
                                    id="slide-148-layer-9" 
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                    data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']" 
                                    data-width="35"
                                    data-height="55"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                    data-style_hover="cursor:pointer;"
                         
                                    data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeInOut;" 
                                    data-transform_out="y:50px;opacity:0;s:1000;s:1000;" 
                                    data-start="2000" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
                                    data-basealign="slide" 
                                    data-responsive_offset="off" 
                                    data-responsive="off"
                                    
                                    style="z-index: 9; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 100;border-color:rgba(255, 255, 255, 0.50);border-style:solid;border-width:1px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">                         
                                    <span></span>                         
                                                 
                                </div>
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-150" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-saveperformance="off"  data-title="Enjoy Nature" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="img/portfolio/nature/4.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
                                     id="slide-150-layer-1" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                                data-fontsize="['70','70','70','45']"
                                    data-lineheight="['70','70','70','50']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1000" 
                                    data-splitin="chars" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 

                                    data-elementdelay="0.05" 
                                    
                                    style="z-index: 5; white-space: nowrap;">Danum Valley
                                </div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption Newspaper-Button rev-btn  rs-parallaxlevel-0" 
                                     id="slide-129-layer-55" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['100','100','100','101']" 
                                                data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                        data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                        data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
                                     data-mask_in="x:0px;y:0px;" 
                                     data-mask_out="x:0;y:0;" 
                                    data-start="1500" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
                                    data-responsive="off"
                                    
                                    style="z-index: 8;font-family: lato; font-size: 12px; letter-spacing: 1px; font-weight: 300; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">READ MORE 
                                </div>                                   

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption rev-scroll-btn  rs-parallaxlevel-0" 
                                    id="slide-150-layer-9" 
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                    data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']" 
                                    data-width="35"
                                    data-height="55"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                    data-style_hover="cursor:pointer;"
                         
                                    data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeInOut;" 
                                    data-transform_out="y:50px;opacity:0;s:1000;s:1000;" 
                                    data-start="2000" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
                                    data-basealign="slide" 
                                    data-responsive_offset="off" 
                                    data-responsive="off"
                                    
                                    style="z-index: 9; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 100;border-color:rgba(255, 255, 255, 0.50);border-style:solid;border-width:1px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><span></span>              
                                </div>
                            </li>
                        </ul>
                        <div class="tp-static-layers"></div>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> 
                    </div>
                </div><!-- END REVOLUTION SLIDER -->
            </div>
            <!-- End of slider area -->
            <!-- Start main content area -->
            <div class="content">
                <!-- Theme standard row Start for portfolio -->
                <div class="adam-standard-row white-bg ptb-80">
                    <!-- Portfolio content start-->

                    <div class="portfolio-content">
                        <div class="portfolio-filter-wrap text-center" >
                            <ul class="portfolio-filter hover-style-one">
                                <li class="active"><a href="#" data-filter="*"> All</a></li>
                                <li><a href="#" data-filter=".cat1">Mouton</a></li>
                                <li><a href="#" data-filter=".cat3">Landscape</a></li>
                                <li><a href="#" data-filter=".cat2">Trees</a></li>
                                <li><a href="#" data-filter=".cat4">Photography</a></li>
                                <li><a href="#" data-filter=".cat5">Wild</a></li>
                            </ul>
                        </div>
                        <div class="portfolio portfolio-container portfolio-style-three portfolio-masonry portfolio-column-count-2">
                            <div class="portfolio-item cat1 cat3 ">
                                <div class="portfolio-item-content">
                                    <div class="item-thumbnail">
                                        <img src="img/portfolio/nature/1.jpg" alt="">
                                        <ul class="portfolio-action-btn">
                                            <li><a class="venobox" title="Masud Rana" data-gall="myGallery" href="img/portfolio/nature/1.jpg"><i class="icon-focus"></i></a></li>
                                        </ul>                                                                                      
                                    </div>
                                    <div class="portfolio-description">
                                        <h4><a href="#" >portfolio Item Title</a></h4>
                                        <ul class="portfolio-cat">
                                            <li><a href="#">Branding</a></li>
                                            
                                            <li><a href="#">Development</a></li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="portfolio-item cat1 cat2 ">
                                <div class="portfolio-item-content">
                                    <div class="item-thumbnail">
                                        <img src="img/portfolio/nature/2.jpg" alt="">
                                        <ul class="portfolio-action-btn">
                                            <li><a class="venobox" href="img/portfolio/nature/2.jpg"><i class="icon-attachment"></i></a></li>
                                        </ul>                                            
                                    </div>
                                    <div class="portfolio-description">
                                        <h4><a href="#" >portfolio Item Title</a></h4>
                                        <ul class="portfolio-cat">
                                            <li><a href="#">Branding</a></li>
                                            
                                            <li><a href="#">Development</a></li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="portfolio-item cat1 cat2 ">
                                <div class="portfolio-item-content">
                                    <div class="item-thumbnail">
                                        <img src="img/portfolio/nature/3.jpg" alt="">
                                        <ul class="portfolio-action-btn">
                                            <li><a class="venobox" href="img/portfolio/nature/3.jpg"><i class="icon-attachment"></i></a></li>
                                        </ul>                                            
                                    </div>
                                    <div class="portfolio-description">
                                        <h4><a href="#" >portfolio Item Title</a></h4>
                                        <ul class="portfolio-cat">
                                            <li><a href="#">Branding</a></li>
                                            
                                            <li><a href="#">Development</a></li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="portfolio-item cat5 cat2 ">
                                <div class="portfolio-item-content">
                                    <div class="item-thumbnail">
                                        <img src="img/portfolio/nature/4.jpg" alt="">
                                        <ul class="portfolio-action-btn">
                                            <li><a class="venobox" href="img/portfolio/nature/4.jpg"><i class="icon-attachment"></i></a></li>
                                        </ul>                                            
                                    </div>
                                    <div class="portfolio-description">
                                        <h4><a href="#" >portfolio Item Title</a></h4>
                                        <ul class="portfolio-cat">
                                            <li><a href="#">Branding</a></li>
                                            
                                            <li><a href="#">Development</a></li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="portfolio-item cat1 cat2 ">
                                <div class="portfolio-item-content">
                                    <div class="item-thumbnail">
                                        <img src="img/portfolio/nature/5.jpg" alt="">
                                        <ul class="portfolio-action-btn">
                                            <li><a class="venobox" href="img/portfolio/nature/5.jpg"><i class="icon-attachment"></i></a></li>
                                        </ul>                                            
                                    </div>
                                    <div class="portfolio-description">
                                        <h4><a href="#" >portfolio Item Title</a></h4>
                                        <ul class="portfolio-cat">
                                            <li><a href="#">Branding</a></li>
                                            
                                            <li><a href="#">Development</a></li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="portfolio-item cat1 cat2 ">
                                <div class="portfolio-item-content">
                                    <div class="item-thumbnail">
                                        <img src="img/portfolio/nature/6.jpg" alt="">
                                        <ul class="portfolio-action-btn">
                                            <li><a class="venobox" href="img/portfolio/nature/6.jpg"><i class="icon-attachment"></i></a></li>
                                        </ul>                                            
                                    </div>
                                    <div class="portfolio-description">
                                        <h4><a href="#" >portfolio Item Title</a></h4>
                                        <ul class="portfolio-cat">
                                            <li><a href="#">Branding</a></li>
                                            
                                            <li><a href="#">Development</a></li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="portfolio-item cat1 cat2 ">
                                <div class="portfolio-item-content">
                                    <div class="item-thumbnail">
                                        <img src="img/portfolio/nature/7.jpg" alt="">
                                        <ul class="portfolio-action-btn">
                                            <li><a class="venobox" href="img/portfolio/nature/7.jpg"><i class="icon-attachment"></i></a></li>
                                        </ul>                                            
                                    </div>
                                    <div class="portfolio-description">
                                        <h4><a href="#" >portfolio Item Title</a></h4>
                                        <ul class="portfolio-cat">
                                            <li><a href="#">Branding</a></li>
                                            
                                            <li><a href="#">Development</a></li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="portfolio-item cat3 cat4 ">
                                <div class="portfolio-item-content">
                                    <div class="item-thumbnail">
                                        <img src="img/portfolio/nature/8.jpg" alt="">
                                        <ul class="portfolio-action-btn">
                                            <li><a class="venobox" data-gall="myGallery" href="img/portfolio/nature/8.jpg"><i class="icon-attachment"></i></a></li>
                                        </ul>                                            
                                    </div>
                                    <div class="portfolio-description">
                                        <h4><a href="#" >portfolio Item Title</a></h4>
                                        <ul class="portfolio-cat">
                                            <li><a href="#">Branding</a></li>
                                            
                                            <li><a href="#">Development</a></li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="pagination-area mt-80">
                            <div class="load-more text-center">
                                <a class="btn-medium" href="#">Load More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio content end-->                      
                </div>
                <!-- Theme standard row End for portfolio -->               
            </div>
            <!-- End of main content area -->
            <!-- Footer area start -->
            <footer class="footer-area footer-style-3 text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-fun-text">
                                <p>My social profile links.</p>
                            </div>
                            <div class="social-bookmark-2-wrapper">
                                <ul class="social-bookmark-2">
                                    <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>                            
                            <div class="footer-menu">
                                <ul class="footer-menu text-center">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Portfolio</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer area end -->
        </div>

		<!-- ALL JS HERE -->
        <script src="js/vendor/jquery-1.12.0.min.js"></script>



        <!-- REVOLUTION JS FILES -->
        <script type="text/javascript" src="revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
        (Load Extensions only on Local File Systems !  
        The following part can be removed on Server for On Demand Loading) -->  
        <script type="text/javascript" src="revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script type="text/javascript" src="revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script src="revolution-slider/slider-active.js"></script>


        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.isotope.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
