<!doctype html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Adam | Home 6</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="icon" href="img/icons/favicon.png">

        <!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,100,300,700,900' rel='stylesheet' type='text/css'>


        <!-- REVOLUTION STYLE SHEETS -->
        <link rel="stylesheet" type="text/css" href="revolution-slider/revolution/css/settings.css">
        <link rel="stylesheet" type="text/css" href="revolution-slider/revolution/css/navigation.css">


		<!-- All CSS FILES -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">    
        <link rel="stylesheet" href="css/et-line-iocn.css">    
        <link rel="stylesheet" href="css/elements.css">  
		<link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">

		<!-- MODERNIZE JS -->
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>

    </head>
    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!--  THEME PRELOADER AREA -->
        <div id="preloader-wrapper">
            <div class="preloader-wave-effect"></div>
        </div>
        <!-- THEME PRELOADER AREA END -->

        <div class="wrapper">

            <!-- Header area -->
            <div class="content-wrapper fixed-footer-content">
                <header id="sticky-header" class="header-area transperant-header">
                    <div class="header-middle-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4  col-sm-2 col-xs-2">
                                    <div class="logo">
                                        <h3><a href="index.html">ADAM</a></h3>
                                    </div>
                                </div>
                                <div class="col-md-8 hidden-sm hidden-xs">
                                    <div class="menu-area clearfix">
                                        <button class="hamburger hamburger--slider" type="button">
                                          <span class="hamburger-box">
                                            <span class="hamburger-inner"></span>
                                          </span>
                                        </button>                                 
                                        <nav class="menu-style-two">
                                            <ul class="main-menu hover-style-one clearfix">
                                                <li><a href="#">Home <span><i class="fa fa-angle-down"></i></span></a>
                                                    <ul>
                                                        <li><a href="index.html">Adam - Home 1 </a></li>
                                                        <li><a href="index-2.html">Adam - Home 2</a></li>
                                                        <li><a href="index-3.html">Adam - Home 3</a></li>
                                                        <li><a href="index-4.html">Adam - Home 4</a></li>
                                                        <li><a href="index-5.html">Adam - Home 5</a></li>
                                                        <li><a href="index-6.html">Adam - Home 6</a></li>
                                                        <li><a href="index-7.html">Adam - Home 7</a></li>
                                                        <li><a href="index-8.html">Adam - Home 8</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Portfolio<span><i class="fa fa-angle-down"></i></span></a>
                                                    <ul>
                                                        <li><a href="#">Masonry<span><i class="fa fa-angle-down"></i></span></a>
                                                            <ul>
                                                                <li><a href="portfolio-2-column-masonry-gutter.html">2 Grid Gutter</a></li>
                                                                <li><a href="portfolio-2-column-masonry-gutter-full.html">2 Grid Gutter Full</a></li>
                                                                <li><a href="portfolio-2-column-masonry-no-gutter.html">2 Grid Gutter less</a></li>
                                                                <li><a href="portfolio-2-column-masonry-no-gutter-full.html">2 Grid Gutter Less Full </a></li>

                                                                <li><a href="portfolio-3-column-masonry-gutter.html">3 Grid Gutter</a></li>
                                                                <li><a href="portfolio-3-column-masonry-gutter-full.html">3 Grid Gutter Full</a></li>
                                                                <li><a href="portfolio-3-column-masonry-no-gutter.html">3 Grid Gutter less</a></li>
                                                                <li><a href="portfolio-3-column-masonry-no-gutter-full.html">3 Grid Gutter Less Full </a></li>

                                                                <li><a href="portfolio-4-column-masonry-gutter.html">4 Grid Gutter</a></li>
                                                                <li><a href="portfolio-4-column-masonry-gutter-full.html">4 Grid Gutter Full</a></li>
                                                                <li><a href="portfolio-4-column-masonry-no-gutter.html">4 Grid Gutter less</a></li>
                                                                <li><a href="portfolio-4-column-masonry-no-gutter-full.html">4 Grid Gutter Less Full </a></li>
                                                            </ul>                                                    
                                                        </li>
                                                        <li><a href="#">Boxed<span><i class="fa fa-angle-down"></i></span></a>
                                                            <ul>
                                                                <li><a href="portfolio-2-column-boxed-gutter.html">2 Grid Gutter</a></li>
                                                                <li><a href="portfolio-2-column-boxed-gutter-full.html">2 Grid Gutter Full</a></li>
                                                                <li><a href="portfolio-2-column-boxed-no-gutter.html">2 Grid Gutter less</a></li>
                                                                <li><a href="portfolio-2-column-boxed-no-gutter-full.html">2 Grid Gutter Less Full </a></li>

                                                                <li><a href="portfolio-3-column-boxed-gutter.html">3 Grid Gutter</a></li>
                                                                <li><a href="portfolio-3-column-boxed-gutter-full.html">3 Grid Gutter Full</a></li>
                                                                <li><a href="portfolio-3-column-boxed-no-gutter.html">3 Grid Gutter less</a></li>
                                                                <li><a href="portfolio-3-column-boxed-no-gutter-full.html">3 Grid Gutter Less Full </a></li>

                                                                <li><a href="portfolio-4-column-boxed-gutter.html">4 Grid Gutter</a></li>
                                                                <li><a href="portfolio-4-column-boxed-gutter-full.html">4 Grid Gutter Full</a></li>
                                                                <li><a href="portfolio-4-column-boxed-no-gutter.html">4 Grid Gutter less</a></li>
                                                                <li><a href="portfolio-4-column-boxed-no-gutter-full.html">4 Grid Gutter Less Full </a></li>
                                                            </ul>                                                    
                                                        </li>
                                                        <li><a href="single-project-one.html">project single 1</a></li>
                                                        <li><a href="single-project-two.html">project single 2</a></li>
                                                        <li><a href="single-project-three.html">project single 3</a></li>
                                                        <li><a href="single-project-four.html">project single 4</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="about-me.html">Pages<span><i class="fa fa-angle-down"></i></span></a>
                                                    <ul>
                                                        <li><a href="about-us.html">About Us</a></li>
                                                        <li><a href="about-me.html">About Me</a></li>
                                                        <li><a href="contact.html">Contact</a></li>
                                                        <li><a href="contact-2.html">Contact 2</a></li>
                                                    </ul>
                                                </li>                                            
                                                <li><a href="#">Shortcodes <span><i class="fa fa-angle-down"></i></span></a>
                                                    <ul>
                                                        <li><a href="shortcode-accordion.html">accordion</a></li>
                                                        <li><a href="shortcode-button.html">buttons</a></li>
                                                        <li><a href="shortcode-breadcrumb.html">breadcrumb</a></li>
                                                        <li><a href="shortcode-service-box.html">service box</a></li>
                                                        <li><a href="shortcode-progressbar.html">progressbar</a></li>
                                                        <li><a href="shortcode-tab.html">Tabs</a></li>
                                                        <li><a href="shortcode-header-one.html">header 1</a></li>
                                                        <li><a href="shortcode-header-two.html">header 2</a></li>
                                                        <li><a href="index-2.html">header 3</a></li>
                                                        <li><a href="index-4.html">header 4</a></li>
                                                        <li><a href="index-5.html">header 5</a></li>
                                                        <li><a href="index-7.html">header 6</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Blog <span><i class="fa fa-angle-down"></i></span></a>
                                                    <ul class="dropdown-show-right">
                                                        <li><a href="blog.html">Blog Default</a></li>
                                                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                                        <li><a href="single-post-full-width.html">Post Full width</a></li>
                                                        <li><a href="single-post-left-sidebar.html">Post Sidebar Left</a></li>
                                                        <li><a href="single-post-right-sidebar.html">Post Sidebar Right</a></li>
                                                    </ul>                                            
                                                </li>
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                        </nav>                                    
                                    </div>
                                </div>
                                <!-- START OF MOBILE MENU AREA -->
                                <div class="mobile-menu-area clearfix hidden-md hidden-lg">
                                    <nav class="mobile-menu">
                                        <ul>
                                            <li><a href="#">Home</a>
                                                <ul>
                                                    <li><a href="index.html">Home 1</a></li>
                                                    <li><a href="index-2.html">Home 2</a></li>
                                                    <li><a href="index-3.html">Home 3</a></li>
                                                    <li><a href="index-4.html">Home 4</a></li>
                                                    <li><a href="index-5.html">Home 5</a></li>
                                                    <li><a href="index-6.html">Home 6</a></li>
                                                    <li><a href="index-7.html">Home 7</a></li>
                                                    <li><a href="index-8.html">Home 8</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">portfolio</a>
                                                <ul>
                                                    <li><a href="#">Masonry</a>
                                                        <ul>
                                                            <li><a href="portfolio-2-column-masonry-gutter.html">2 Grid Gutter</a></li>
                                                            <li><a href="portfolio-2-column-masonry-gutter-full.html">2 Grid Gutter Full</a></li>
                                                            <li><a href="portfolio-2-column-masonry-no-gutter.html">2 Grid Gutter less</a></li>
                                                            <li><a href="portfolio-2-column-masonry-no-gutter-full.html">2 Grid Gutter Less Full </a></li>

                                                            <li><a href="portfolio-3-column-masonry-gutter.html">3 Grid Gutter</a></li>
                                                            <li><a href="portfolio-3-column-masonry-gutter-full.html">3 Grid Gutter Full</a></li>
                                                            <li><a href="portfolio-3-column-masonry-no-gutter.html">3 Grid Gutter less</a></li>
                                                            <li><a href="portfolio-3-column-masonry-no-gutter-full.html">3 Grid Gutter Less Full </a></li>

                                                            <li><a href="portfolio-4-column-masonry-gutter.html">4 Grid Gutter</a></li>
                                                            <li><a href="portfolio-4-column-masonry-gutter-full.html">4 Grid Gutter Full</a></li>
                                                            <li><a href="portfolio-4-column-masonry-no-gutter.html">4 Grid Gutter less</a></li>
                                                            <li><a href="portfolio-4-column-masonry-no-gutter-full.html">4 Grid Gutter Less Full </a></li>
                                                        </ul>                                                    
                                                    </li>
                                                    <li><a href="#">Boxed</a>
                                                        <ul>
                                                            <li><a href="portfolio-2-column-boxed-gutter.html">2 Grid Gutter</a></li>
                                                            <li><a href="portfolio-2-column-boxed-gutter-full.html">2 Grid Gutter Full</a></li>
                                                            <li><a href="portfolio-2-column-boxed-no-gutter.html">2 Grid Gutter less</a></li>
                                                            <li><a href="portfolio-2-column-boxed-no-gutter-full.html">2 Grid Gutter Less Full </a></li>

                                                            <li><a href="portfolio-3-column-boxed-gutter.html">3 Grid Gutter</a></li>
                                                            <li><a href="portfolio-3-column-boxed-gutter-full.html">3 Grid Gutter Full</a></li>
                                                            <li><a href="portfolio-3-column-boxed-no-gutter.html">3 Grid Gutter less</a></li>
                                                            <li><a href="portfolio-3-column-boxed-no-gutter-full.html">3 Grid Gutter Less Full </a></li>

                                                            <li><a href="portfolio-4-column-boxed-gutter.html">4 Grid Gutter</a></li>
                                                            <li><a href="portfolio-4-column-boxed-gutter-full.html">4 Grid Gutter Full</a></li>
                                                            <li><a href="portfolio-4-column-boxed-no-gutter.html">4 Grid Gutter less</a></li>
                                                            <li><a href="portfolio-4-column-boxed-no-gutter-full.html">4 Grid Gutter Less Full </a></li>
                                                        </ul>                                                    
                                                    </li>
                                                    <li><a href="single-project-one.html">project single 1</a></li>
                                                    <li><a href="single-project-two.html">project single 2</a></li>
                                                    <li><a href="single-project-three.html">project single 3</a></li>
                                                    <li><a href="single-project-four.html">project single 4</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Shortcodes</a>
                                                <ul>
                                                    <li><a href="shortcode-accordion.html">accordion</a></li>
                                                    <li><a href="shortcode-button.html">buttons</a></li>
                                                    <li><a href="shortcode-breadcrumb.html">breadcrumb</a></li>
                                                    <li><a href="shortcode-service-box.html">service box</a></li>
                                                    <li><a href="shortcode-progressbar.html">progressbar</a></li>
                                                    <li><a href="shortcode-tab.html">Tabs</a></li>
                                                </ul>
                                            </li>                                        
                                            <li><a href="#">Blog</a>
                                                <ul class="dropdown-show-right">
                                                    <li><a href="blog.html">Blog Default</a></li>
                                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                                    <li><a href="single-post-full-width.html">Post Full width</a></li>
                                                    <li><a href="single-post-left-sidebar.html">Post Sidebar Left</a></li>
                                                    <li><a href="single-post-right-sidebar.html">Post Sidebar Right</a></li>
                                                </ul>                                            
                                            </li>
                                            <li><a href="about-us.html">About</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- END OF MOBILE MENU AREA -->                                
                            </div>
                        </div>
                    </div>
                </header>
                <!-- End header area -->
                <!-- Slider area -->
                <div id="adam_main_slider_wrapper" class="slider rev_slider_wrapper fullwidthbanner-container">
                <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
                    <div id="adam_home_4_slider" class="rev_slider fullwidthabanner" style="" data-version="5.0.7">
                        <ul>    <!-- SLIDE  -->
                            <!-- SLIDE  -->
                            <li data-index="rs-8" data-transition="zoomout" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="assets/images/bike-60x60.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide One" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="revolution-slider/assets/images/light_deer.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper all-bg   tp-resizeme rs-parallaxlevel-0" 
                                     id="slide-one-text-bg" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                                data-width="500"
                                    data-height="200"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:0px;" 
                                     data-mask_out="x:inherit;y:inherit;" 
                                    data-start="1000" 
                                    data-responsive_offset="on" 

                                    
                                    style="z-index: 5;background-color:rgba(255, 255, 255, 0.9)"> 
                                </div>

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption NotGeneric-Title slide-info tp-resizeme rs-parallaxlevel-0" 
                                     id="slide-one-main-text" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']" 
                                                data-fontsize="['40','40','40','45']"
                                    data-lineheight="['40','40','40','50']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:0px;" 
                                     data-mask_out="x:inherit;y:inherit;" 
                                    data-start="1200" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 

                                    
                                    style="z-index: 6; white-space: nowrap;">ADAM
                                </div>

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                                     id="slide-one-sub-text" 
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" data-voffset="['20','20','20','15']" 
                                                data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1500" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 

                                    
                                    style="z-index: 7; white-space: nowrap;">Minimal Creative Portfolio
                                </div>
                            </li>
                            <!-- SLIDE  -->                         
                        </ul>
                        <div class="tp-static-layers"></div>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> 
                    </div>
                </div><!-- END REVOLUTION SLIDER -->
                <!-- End of slider area -->
                <!-- Start main content area -->
                <div class="content">
                    <!-- Theme standard row Start for portfolio -->
                    <div class="adam-standard-row white-bg ptb-80">
                        <!-- Portfolio content start-->
                        <div class="container">
                            <div class="portfolio-content">
                                <div class="portfolio-filter-wrap text-center" >
                                    <ul class="portfolio-filter hover-style-one">
                                        <li class="active"><a href="#" data-filter="*"> All</a></li>
                                        <li><a href="#" data-filter=".cat1">Design</a></li>
                                        <li><a href="#" data-filter=".cat3">illustration</a></li>
                                        <li><a href="#" data-filter=".cat2">Coding</a></li>
                                        <li><a href="#" data-filter=".cat4">Photography</a></li>
                                        <li><a href="#" data-filter=".cat5">Development</a></li>
                                    </ul>
                                </div>

                                <div class="portfolio portfolio-no-gutter portfolio-container portfolio-masonry portfolio-column-count-3">
                                    <div class="portfolio-item cat1 cat3 ">
                                        <div class="portfolio-item-content">
                                            <div class="item-thumbnail">
                                                <img src="img/portfolio/home/8.jpg" alt="">                             
                                                <ul class="portfolio-action-btn">
                                                    <li>
                                                        <a class="venobox" data-gall="adamGallery" href="img/portfolio/home/1.jpg">
                                                        <i class="icon-focus"></i></a>
                                                    </li>
                                                </ul>                                            
                                            </div>
                                            <div class="portfolio-description">
                                                <h4><a href="#" >portfolio Item Title</a></h4>
                                                <ul class="portfolio-cat">
                                                    <li><a href="#">Branding</a></li>
                                                    
                                                    <li><a href="#">Development</a></li>
                                                </ul>
                                            </div>                                    
                                        </div>
                                    </div>
                                    <div class="portfolio-item cat1 cat2 ">
                                        <div class="portfolio-item-content">
                                            <div class="item-thumbnail">
                                                <img src="img/portfolio/home/2.jpg" alt="">
                                                <ul class="portfolio-action-btn">
                                                    <li><a href="single-project-one.html"><i class="icon-attachment"></i></a></li>
                                                </ul>                                            
                                            </div>
                                            <div class="portfolio-description">
                                                <h4><a href="#" >portfolio Item Title</a></h4>
                                                <ul class="portfolio-cat">
                                                    <li><a href="#">Branding</a></li>
                                                    
                                                    <li><a href="#">Development</a></li>
                                                </ul>
                                            </div>                                    
                                        </div>
                                    </div>
                                    <div class="portfolio-item cat3 cat4 ">
                                        <div class="portfolio-item-content">
                                            <div class="item-thumbnail">
                                                <img src="img/portfolio/home/3.jpg" alt="">
                                                <ul class="portfolio-action-btn">
                                                    <li><a class="venobox" data-gall="adamGallery" href="img/portfolio/home/3.jpg"><i class="icon-attachment"></i></a></li>
                                                </ul>                                            
                                            </div>
                                            <div class="portfolio-description">
                                                <h4><a href="#" >portfolio Item Title</a></h4>
                                                <ul class="portfolio-cat">
                                                    <li><a href="#">Branding</a></li>
                                                    
                                                    <li><a href="#">Development</a></li>
                                                </ul>
                                            </div>                                    
                                        </div>
                                    </div>
                                    <div class="portfolio-item cat5 cat2 ">
                                        <div class="portfolio-item-content">
                                            <div class="item-thumbnail">
                                                <img src="img/portfolio/home/9.jpg" alt="">
                                                <ul class="portfolio-action-btn">
                                                    <li>
                                                        <a href="single-project-one.html"><i class="icon-attachment"></i></a>
                                                    </li>
                                                </ul>                                            
                                            </div>
                                            <div class="portfolio-description">
                                                <h4><a href="#" >portfolio Item Title</a></h4>
                                                <ul class="portfolio-cat">
                                                    <li><a href="#">Branding</a></li>
                                                    
                                                    <li><a href="#">Development</a></li>
                                                </ul>
                                            </div>                                    
                                        </div>
                                    </div>
                                    <div class="portfolio-item cat1 cat5 ">
                                        <div class="portfolio-item-content">
                                            <div class="item-thumbnail">
                                                <img src="img/portfolio/home/5.jpg" alt="">
                                                <ul class="portfolio-action-btn">
                                                    <li><a class="venobox" data-gall="adamGallery" href="img/portfolio/home/5.jpg"><i class="icon-focus"></i></a></li>
                                                </ul>                                            
                                            </div>
                                            <div class="portfolio-description">
                                                <h4><a href="#" >portfolio Item Title</a></h4>
                                                <ul class="portfolio-cat">
                                                    <li><a href="#">Branding</a></li>
                                                    
                                                    <li><a href="#">Development</a></li>
                                                </ul>
                                            </div>                                    
                                        </div>
                                    </div>
                                    <div class="portfolio-item cat4 cat2 ">
                                        <div class="portfolio-item-content">
                                            <div class="item-thumbnail">
                                                <img src="img/portfolio/home/6.jpg" alt="">
                                                <ul class="portfolio-action-btn">
                                                    <li><a class="venobox" data-gall="adamGallery" href="img/portfolio/home/6.jpg"><i class="icon-focus"></i></a></li>
                                                </ul>                                            
                                            </div>
                                            <div class="portfolio-description">
                                                <h4><a href="#" >portfolio Item Title</a></h4>
                                                <ul class="portfolio-cat">
                                                    <li><a href="#">Branding</a></li>
                                                    
                                                    <li><a href="#">Development</a></li>
                                                </ul>
                                            </div>                                    
                                        </div>
                                    </div>
                                    <div class="portfolio-item cat1 cat3 ">
                                        <div class="portfolio-item-content">
                                            <div class="item-thumbnail">
                                                <img src="img/portfolio/home/7.jpg" alt="">
                                                <ul class="portfolio-action-btn">
                                                    <li><a class="venobox" data-gall="adamGallery" href="img/portfolio/home/7.jpg"><i class="icon-focus"></i></a></li>
                                                </ul>                                            
                                            </div>
                                            <div class="portfolio-description">
                                                <h4><a href="#" >portfolio Item Title</a></h4>
                                                <ul class="portfolio-cat">
                                                    <li><a href="#">Branding</a></li>
                                                    
                                                    <li><a href="#">Development</a></li>
                                                </ul>
                                            </div>                                    
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination-area mt-30">
                                    <div class="load-more text-center">
                                        <a class="btn-medium" href="#">Load More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio content end-->                      
                    </div>
                    <!-- Theme standard row End for portfolio --> 
                    <!-- Theme standard row Start for Blog -->
                    <div class="adam-standard-row gray-bg ptb-80">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="area-heading text-center mb-70">
                                        <h2 class="area-title">Blog</h2>
                                        <p>Latest thoughts, ideas & plans.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <article class="blog-post">
                                        <div class="post-thumbnail">
                                            <a href="#"><img src="img/blog/1.jpg" alt=""></a>
                                        </div>
                                        <div class="post-content">
                                            <div class="post-content-inner">
                                                <h3><a href="#">Full Width Blog Post</a></h3>
                                                <ul class="meta-info">
                                                    <li><a href="#">Jul 24, 2016</a></li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae maiores, quidem cumque!</p>
                                            </div>
                                            <div class="post-footer-meta clearfix">
                                                <ul class="post-action-btn">
                                                    <li><a href="#"><i class="icon-refresh"></i></a></li>
                                                    <li><a href="#"><i class="icon-chat"></i></a></li>
                                                    <li><a href="#"><i class="icon-heart"></i></a></li>
                                                </ul>
                                                <div class="read-more-wrapper">
                                                    <a href="#" class="read-more">Read More</a>
                                                </div>
                                            </div>                                        
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <article class="blog-post">
                                        <div class="post-thumbnail">
                                            <a href="#"><img src="img/blog/2.jpg" alt=""></a>
                                        </div>
                                        <div class="post-content">
                                            <div class="post-content-inner">
                                                <h3><a href="#">Full Width Blog Post</a></h3>
                                                <ul class="meta-info">
                                                    <li><a href="#">Jul 24, 2016</a></li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae maiores, quidem cumque!</p>
                                            </div>
                                            <div class="post-footer-meta clearfix">
                                                <ul class="post-action-btn">
                                                    <li><a href="#"><i class="icon-refresh"></i></a></li>
                                                    <li><a href="#"><i class="icon-chat"></i></a></li>
                                                    <li><a href="#"><i class="icon-heart"></i></a></li>
                                                </ul>
                                                <div class="read-more-wrapper">
                                                    <a href="#" class="read-more">Read More</a>
                                                </div>
                                            </div>                                        
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 hidden-sm">
                                    <article class="blog-post">
                                        <div class="post-thumbnail">
                                            <a href="#"><img src="img/blog/3.jpg" alt=""></a>
                                        </div>
                                        <div class="post-content">
                                            <div class="post-content-inner">
                                                <h3><a href="#">Full Width Blog Post</a></h3>
                                                <ul class="meta-info">
                                                    <li><a href="#">Jul 24, 2016</a></li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae maiores, quidem cumque!</p>
                                            </div>
                                            <div class="post-footer-meta clearfix">
                                                <ul class="post-action-btn">
                                                    <li><a href="#"><i class="icon-refresh"></i></a></li>
                                                    <li><a href="#"><i class="icon-chat"></i></a></li>
                                                    <li><a href="#"><i class="icon-heart"></i></a></li>
                                                </ul>
                                                <div class="read-more-wrapper">
                                                    <a href="#" class="read-more">Read More</a>
                                                </div>
                                            </div>                                        
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>               
                    <!-- Theme standard row End for Blog -->               
                </div>
                <!-- End of main content area -->
            </div>
            <!-- Footer area start -->
            <footer class="footer-area fixed-footer footer-style-two">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <div class="logo footer-logo">
                                    <h3><a href="#">Adam</a></h3>
                                </div>
                                <div class="social-bookmark-wrapper">
                                    <ul class="social-bookmark-wrapper">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class="icon-googleplus"></i></a></li>
                                        <li><a href="#"><i class="icon-googleplus"></i></a></li>
                                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                                    </ul>
                                </div>                        
                                <div class="copy-right">
                                    <p>All &copy; reserved <a href="https://themeforest.net/user/wpdna" target="_blank" class="wpdna-brand">wpdna</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer area end -->
        </div>

		<!-- ALL JS HERE -->
        <script src="js/vendor/jquery-1.12.0.min.js"></script>

        <!-- REVOLUTION JS FILES -->
        <script type="text/javascript" src="revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
        (Load Extensions only on Local File Systems !  
        The following part can be removed on Server for On Demand Loading) -->  
        <script type="text/javascript" src="revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script type="text/javascript" src="revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="revolution-slider/slider-active.js"></script>

        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.isotope.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
