<!doctype html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Adam | Service Box</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico in the root directory -->
        <link rel="icon" href="img/icons/favicon.png">

        <!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,100,300,700,900' rel='stylesheet' type='text/css'>
		<!-- All CSS FILES -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">    
        <link rel="stylesheet" href="css/et-line-iocn.css"> 
        <link rel="stylesheet" href="css/elements.css">    
		<link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">
		<!-- MODERNIZE JS -->
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>

    </head>
    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!--  THEME PRELOADER AREA -->
        <div id="preloader-wrapper">
            <div class="preloader-wave-effect"></div>
        </div>
        <!-- THEME PRELOADER AREA END -->
        <!-- Main wrapper start -->
        <div class="wrapper">
            <!-- Header area -->
            <header id="sticky-header" class="header-area transperant-header">
                <div class="header-middle-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4  col-sm-2 col-xs-2">
                                <div class="logo">
                                    <h3><a href="index.html">ADAM</a></h3>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-10 hidden-xs">
                                <div class="menu-area clearfix">
                                    <button class="hamburger hamburger--slider" type="button">
                                      <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                      </span>
                                    </button>                                 
                                    <nav class="menu-style-two">
                                        <ul class="main-menu hover-style-one clearfix">
                                            <li><a href="#">Home <span><i class="fa fa-angle-down"></i></span></a>
                                                <ul>
                                                    <li><a href="index.html">Home 1</a></li>
                                                    <li><a href="index-2.html">Home 2</a></li>
                                                    <li><a href="#">Home 3</a></li>
                                                    <li><a href="#">Home 4</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Portfolio</a></li>
                                            <li><a href="#">Pages <span><i class="fa fa-angle-down"></i></span></a>
                                                <ul>
                                                    <li><a href="#">Sub page</a></li>
                                                    <li><a href="#">Sub page</a></li>
                                                    <li><a href="#">Sub page</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </nav>                                    
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!-- Start of Mobile Menu Area -->
                            <div class="mobile-menu-area clearfix hidden-sm hidden-md hidden-lg">
                                <nav class="mobile-menu">
                                    <ul>
                                        <li><a href="index.html">Home </a>
                                            <ul>
                                                <li><a href="#">Corporate</a>
                                                    <ul>
                                                        <li><a href="index.html">Corporate Home 1</a></li>
                                                        <li><a href="index-corporate-2.html">Corporate Home 2</a></li>
                                                        <li><a href="index-corporate-3.html">Corporate Home 3</a></li>
                                                        <li><a href="index-corporate-4.html">Corporate Home 4</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="index-medicine-store-1.html">Medicine</a>
                                                    <ul>
                                                        <li><a href="index-medicine-store-1.html">Medicine Home 1</a></li>
                                                        <li><a href="index-medicine-store-2.html">Medicine Home 2</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="index-portfolio-1.html">Portfolio</a>
                                                    <ul>
                                                        <li><a href="index-portfolio-1.html">Portfolio Home 1</a></li>
                                                        <li><a href="index-portfolio-2.html">Portfolio Home 2</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="index-blog-1.html">Blog</a>
                                                    <ul>
                                                        <li><a href="index-blog-1.html">Blog Home 1</a></li>
                                                        <li><a href="index-blog-2.html">Blog Home 2</a></li>
                                                        <li><a href="index-blog-3.html">Blog Home 3</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="index-fashion-1.html">Fashion Shop Store</a>
                                                    <ul>
                                                        <li><a href="index-fashion-1.html">fashion Home 1</a></li>
                                                        <li><a href="index-fashion-2.html">fashion Home 2</a></li>
                                                        <li><a href="index-fashion-3.html">fashion Home 3</a></li>
                                                        <li><a href="index-fashion-4.html">fashion Home 4</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="index-food-store-1.html">Food Store</a>
                                                    <ul>
                                                        <li><a href="index-food-store-1.html">food Home 1</a></li>
                                                        <li><a href="index-food-store-2.html">food Home 2</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="index-furniture-1.html">furniture Store</a>
                                                    <ul>
                                                        <li><a href="index-furniture-1.html">furniture Home 1</a></li>
                                                        <li><a href="index-furniture-2.html">furniture Home 2</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="index-handmade-1.html">handmade Store</a>
                                                    <ul>
                                                        <li><a href="index-handmade-1.html">handmade Home 1</a></li>
                                                        <li><a href="index-handmade-2.html">handmade Home 2</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="index-houseware-1.html">houseware Store</a>
                                                    <ul>
                                                        <li><a href="index-houseware-1.html">houseware Home 1</a></li>
                                                        <li><a href="index-houseware-1.html">houseware Home 2</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="index-digital-store-1.html">digital Store</a>
                                                    <ul>
                                                        <li><a href="index-digital-store-1.html">digital Home 1</a></li>
                                                        <li><a href="index-digital-store-1.html">digital Home 2</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="shop-category-1-right-sidebar.html">shop </a>
                                            <ul>
                                                <li><a href="shop-category-1-right-sidebar.html">Category 1 Columns</a>
                                                    <ul>
                                                        <li><a href="shop-category-1-columns-full-width.html">Category 1 Columns full width</a></li>
                                                        <li><a href="shop-category-1-left-sidebar.html">Category 1 Columns left sidebar</a></li>
                                                        <li><a href="shop-category-1-right-sidebar.html">Category 1 Columns right sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Category 3 Columns</a>
                                                    <ul>
                                                        <li><a href="shop-category-3-columns-full-width.html">Category 3 Columns full width</a></li>
                                                        <li><a href="shop-category-3-columns-left-sidebar.html">Category 3 Columns left sidebar</a></li>
                                                        <li><a href="shop-category-3-columns-right-sidebar.html">Category 3 Columns right sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="shop-category-4-columns-full-width.html">Category 4 Columns</a></li>
                                                <li><a href="shop-category-4-columns-full-width.html">Single Product</a>
                                                    <ul>
                                                        <li><a href="single-product-full-width.html">Single Fullwidth</a></li>
                                                        <li><a href="single-product-right-sidebar.html">Single Columns  Right</a></li>
                                                        <li><a href="single-product-left-sidebar.html">Single Columns  Left</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="cart.html">Shopping Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="my-acount.html">My Account</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="portfolio-column-3-full-margin.html">portfolio </a>
                                            <ul>
                                                <li><a href="#">Portfolio 1 Columns</a>
                                                    <ul>
                                                        <li><a href="portfolio-column-1-default.html">1 Column Default</a></li>
                                                        <li><a href="portfolio-column-1-alternate.html">1 Column alternate</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="portfolio-column-2-margin.html">Portfolio 2 Columns</a>
                                                    <ul>
                                                        <li><a href="portfolio-column-2-margin.html">Margin</a></li>
                                                        <li><a href="portfolio-column-2-no-margin.html">No Margin</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="portfolio-column-3-margin.html">Portfolio 3 Columns</a>
                                                    <ul>
                                                        <li><a href="portfolio-column-3-margin.html">Margin</a></li>
                                                        <li><a href="portfolio-column-3-no-margin.html">No Margin</a></li>
                                                        <li><a href="portfolio-column-3-full-margin.html">Fullwidth Margin</a></li>
                                                        <li><a href="portfolio-column-3-full-no-margin.html">Fullwidth No Margin</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="portfolio-column-4-margin.html">Portfolio 4 Columns</a>
                                                    <ul>
                                                        <li><a href="portfolio-column-4-margin.html">Margin</a></li>
                                                        <li><a href="portfolio-column-4-no-margin.html">No Margin</a></li>
                                                        <li><a href="portfolio-column-4-full-margin.html">Fullwidth Margin</a></li>
                                                        <li><a href="portfolio-column-4-full-no-margin.html">Fullwidth No Margin</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="portfolio-single-gallery.html">Single Project</a>
                                                    <ul>
                                                        <li><a href="portfolio-single-gallery.html">portfolio single gallery</a></li>
                                                        <li><a href="portfolio-single-image.html">portfolio single image</a></li>
                                                        <li><a href="portfolio-single-parallax.html">portfolio single parallax</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="blog-single-default.html">Blog </a>
                                            <ul>
                                                <li><a href="blog-category-fullwidth.html">Blog Category Fullwidth</a></li>
                                                <li><a href="blog-category-grid-2.html">Blog Category Grid 2 Columns</a></li>
                                                <li><a href="blog-category-grid-3.html">Blog Category Grid 3 Columns</a></li>
                                                <li><a href="blog-category-grid-4.html">Blog Category Grid 4 Columns</a></li>
                                                <li><a href="blog-category-left-sidebar.html">Blog Category Left Sidebar</a></li>
                                                <li><a href="blog-category-right-sidebar.html">Blog Category Right Sidebar</a></li>
                                                <li><a href="blog-single-default.html">Blog Single Default</a></li>
                                                <li><a href="blog-single-fullwidth.html">Blog Single Fullwidth</a></li>
                                                <li><a href="blog-single-left-sidebar.html">Blog Single Left Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about-two.html">About</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- End of Mobile Menu Area -->                             
                        </div>
                    </div>
                </div>
            </header>
            <!-- End header area -->   
            <div class="content">
                <!-- Breadcrumb area start -->
                <div class="breadcrumb-area breadcrumb-style-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="breadcrumb-content">
                                    <h2 class="page-cat">Breadcrumb Style One</h2>
                                    <ul class="breadcrumb-list">
                                        <li><a href="index.html">Home</a></li>
                                        <li>Breadcrumb Style One</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Breadcrumb area end -->
                <!-- Service Section Start -->
                <div class="adam-standard-row service-area pt-100 pb-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="area-heading area-heading-style-two text-center">
                                    <h2 class="area-title">Our services</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora veritatis nemo aut ea iusto eos est expedita, quas ab adipisci.</p>
                                </div>
                            </div>                                
                        </div>                        
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="single-service">
                                    <div class="service-header">
                                        <i class=" icon-linegraph"></i>
                                        <h3>Graphic Design</h3>
                                    </div>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="single-service">
                                    <div class="service-header">
                                        <i class="icon-laptop"></i>
                                        <h3>Web Development</h3>
                                    </div>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="single-service">
                                    <div class="service-header">
                                        <i class="icon-briefcase"></i>
                                        <h3>Marketing</h3>
                                    </div>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="single-service">
                                    <div class="service-header">
                                        <i class="icon-mobile"></i>
                                        <h3>Mobile Apps</h3>
                                    </div>
                                    <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="single-service">
                                    <div class="service-header">
                                        <i class="icon-ribbon"></i>
                                        <h3>Branding</h3>
                                    </div>
                                    <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="single-service">
                                    <div class="service-header">
                                        <i class="icon-mic"></i>
                                        <h3>support</h3>
                                    </div>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Service Section End -->
                <!-- Adam call to action area start -->
                <div class="adam-standard-row call-to-action-area gray-bg ptb-80">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-sm-8">
                                <div class="call-to-text">
                                    <h4>Adam clean minimal portfolio template</h4>
                                    <p>Build minimal website and great user experience</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="coll-to-btn">
                                    <a class="btn-medium" href="#">purchase now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Adam call to action area End -->                
                <!-- Service Section Start -->
                <div class="adam-standard-row white-bg service-area service-style-two pt-100 pb-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="area-heading area-heading-style-two text-center">
                                    <h2 class="area-title">WE Love to Design</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora veritatis nemo aut ea iusto eos est expedita, quas ab adipisci.</p>
                                </div>
                            </div>                             
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="single-service">
                                    <div class="service-header">
                                        <i class=" icon-linegraph"></i>
                                        <h3>Graphic Design</h3>
                                    </div>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="single-service">
                                    <div class="service-header">
                                        <i class="icon-laptop"></i>
                                        <h3>Web Design</h3>
                                    </div>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="single-service">
                                    <div class="service-header">
                                        <i class="icon-mobile"></i>
                                        <h3>Mobile Apps</h3>
                                    </div>
                                    <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. </p>
                                </div>
                            </div>                                
                            <div class="col-md-3 col-sm-6">
                                <div class="single-service">
                                    <div class="service-header">
                                        <i class="icon-briefcase"></i>
                                        <h3>Marketing</h3>
                                    </div>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Service Section End -->
                <!-- Adam Newsletter area start -->
                <div class="adam-standard-row adam-newsletter-area gray-bg ptb-80">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="area-heading area-heading-style-two text-center">
                                    <h2 class="area-title">subscribe to get in touch</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora veritatis nemo aut ea iusto eos est expedita, quas ab adipisci.</p>
                                </div>
                            </div>                                
                        </div>                        
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="adam-news-letter text-center">
                                    <form action="#">
                                        <input type="email" placeholder="Email address...">
                                        <button type="submit">subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Adam Newsletter area End -->      
            </div>
            <!-- Footer area start -->
            <footer class="footer-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-4">
                            <div class="copy-right">
                                <p>All &copy; reserved <a href="https://themeforest.net/user/wpdna" target="_blank" class="wpdna-brand">wpdna</a></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-8">
                            <div class="social-bookmark-wrapper">
                                <ul class="social-bookmark-wrapper">
                                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                    <li><a href="#"><i class="icon-googleplus"></i></a></li>
                                    <li><a href="#"><i class="icon-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer area end -->
        </div>
        <!-- Main wrapper end -->
		<!-- ALL JS HERE -->
        <script src="js/vendor/jquery-1.12.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.isotope.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
