<!doctype html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Adam | Single Project 3</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="icon" href="img/icons/favicon.png">

        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,100,300,700,900' rel='stylesheet' type='text/css'>

        <!-- All CSS FILES -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">    
        <link rel="stylesheet" href="css/et-line-iocn.css">    
        <link rel="stylesheet" href="css/elements.css">    
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">

        <!-- MODERNIZE JS -->
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>

    </head>
    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!--  THEME PRELOADER AREA -->
        <div id="preloader-wrapper">
            <div class="preloader-wave-effect"></div>
        </div>
        <!-- THEME PRELOADER AREA END -->

        <div class="wrapper">
            <!-- Header area -->
            <header class="header-area header-left">
                <div class="header-middle-area">
                    <div class="logo">
                        <h3><a href="index.html">ADAM</a></h3>
                        <p>Minimal Creative Portfolio</p>
                    </div>
                    <nav>
                        <ul id="sidebar-menu" class="sidebar-menu hover-style-one">
                            <li><span>Home</span><span><i class="fa fa-angle-down"></i></span>
                                <ul>
                                    <li><a href="index.html">Adam - Home 1 </a></li>
                                    <li><a href="index-2.html">Adam - Home 2</a></li>
                                    <li><a href="index-3.html">Adam - Home 3</a></li>
                                    <li><a href="index-4.html">Adam - Home 4</a></li>
                                    <li><a href="index-5.html">Adam - Home 5</a></li>
                                    <li><a href="index-6.html">Adam - Home 6</a></li>
                                    <li><a href="index-7.html">Adam - Home 7</a></li>
                                    <li><a href="index-8.html">Adam - Home 8</a></li>
                                </ul>
                            </li>
                            <li><span>portfolio</span><span><i class="fa fa-angle-down"></i></span>
                                <ul>
                                    <li><a href="portfolio-3-column-masonry-gutter.html">3 Grid Gutter</a></li>
                                    <li><a href="portfolio-3-column-masonry-gutter-full.html">3 Grid Gutter Full</a></li>
                                    <li><a href="portfolio-3-column-masonry-no-gutter.html">3 Grid Gutter less</a></li>
                                    <li><a href="portfolio-3-column-masonry-no-gutter-full.html">3 Grid Gutter Less Full </a></li>

                                    <li><a href="portfolio-4-column-masonry-gutter.html">4 Grid Gutter</a></li>
                                    <li><a href="portfolio-4-column-masonry-gutter-full.html">4 Grid Gutter Full</a></li>
                                    <li><a href="portfolio-4-column-masonry-no-gutter.html">4 Grid Gutter less</a></li>
                                    <li><a href="portfolio-4-column-masonry-no-gutter-full.html">4 Grid Gutter Less Full </a></li>
                                </ul>
                            </li>
                            <li><span>Pages</span><span><i class="fa fa-angle-down"></i></span>
                                <ul>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="about-me.html">About Me</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="contact-2.html">Contact 2</a></li>
                                </ul>
                            </li>
                            <li><span>Blog</span><span><i class="fa fa-angle-down"></i></span>
                                <ul class="dropdown-show-right">
                                    <li><a href="blog.html">Blog Default</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    <li><a href="single-post-full-width.html">Post Full width</a></li>
                                    <li><a href="single-post-left-sidebar.html">Post Sidebar Left</a></li>
                                    <li><a href="single-post-right-sidebar.html">Post Sidebar Right</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul> 
                    </nav>
                    <div class="copy-right mb-10">
                        <p>All &copy; reserved <a href="#">BugEater</a></p>
                    </div>
                    <ul class="social-bookmark-wrapper">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-googleplus"></i></a></li>
                        <li><a href="#"><i class="icon-googleplus"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </div>
            </header>
            <!-- End header area -->          
            <!-- Content area start -->
            <section class="content content-right-side gray-bg">
                <div class="flay-menu-wrapper">
                    <span class="flay-out-menu-btn"></span>
                </div>
                <div class="inner-content-wrapper">
                    <!-- Theme standard row Start for portfolio -->
                    <div class="adam-standard-row">
                        <!-- Single Project area -->
                        <div class="single-project-area-three">
                            <article class="single-post single-blog-post-area">
                                <div class="single-project-gallery-slider">
                                    <img src="img/portfolio/single/1.jpg" alt="">
                                    <img src="img/portfolio/single/2.jpg" alt="">
                                    <img src="img/portfolio/single/1.jpg" alt="">
                                    <img src="img/portfolio/single/2.jpg" alt="">
                                </div>
                                <div class="post-content">                                       
                                    <h2 class="blog-post-title">Single Project title Lorem ipsum dolor sit amet</h2>
                                    <div class="post-meta">
                                        <span class="post-time"><i class="icon-clock"></i> April 26, 2015</span>
                                        <span class="post-comment"><a href="#"><i class="icon-heart "></i>12 Likes</a></span>
                                        <span class="post-comment"><a href="#"><i class="icon-flag"></i>Branding, UX Design</a></span>
                                    </div>                                        
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
                                        <blockquote class="ml-20">Me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis .
                                        </blockquote> 
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                    <p> aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis <br> dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere</p>                    
                                    <p> aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>
                                    <div class="post-navigation-wrapper">
                                    <a href="#" class="post-navigation previous-post"><i class="fa fa-angle-left"></i>Previous Project</a>
                                    <a href="#" class="post-navigation next-post">Next Project<i class="fa fa-angle-right"></i></a>
                                    </div>                                        
                                </div>
                            </article>                               
                        </div>                            
                        <!-- Single Project area end -->                        
                    </div>
                    <!-- Theme standard row End for portfolio -->  
                </div>
            </section>
        </div>

        <!-- ALL JS HERE -->
        <script src="js/vendor/jquery-1.12.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.isotope.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
