body { background-color: #333333; }

a { color: #FB8701; }
a:hover { color: #B5610D; }

.card-profile { background: #333333; border-color: #333333; color: #fff; }
.card-profile hr { border-top: 1px solid #4D4D4D; }
